In [2]:
# Downloading dataset and have a look at them.
import pandas as pd
pd.set_option('display.max_rows', 100)
data = pd.read_excel('question_1_data.xlsx')
data

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56.190
1,2,92,925,90,1,cash,2017-03-03 17:38:51.999
2,3,44,861,144,1,cash,2017-03-14 04:23:55.595
3,4,18,935,156,1,credit_card,2017-03-26 12:43:36.649
4,5,18,883,156,1,credit_card,2017-03-01 04:35:10.773
...,...,...,...,...,...,...,...
4995,4996,73,993,330,2,debit,2017-03-30 13:47:16.597
4996,4997,48,789,234,2,cash,2017-03-16 20:36:16.389
4997,4998,56,867,351,3,cash,2017-03-19 05:42:42.228
4998,4999,60,825,354,2,credit_card,2017-03-16 14:51:18.188
4999,5000,44,734,288,2,debit,2017-03-18 15:48:18.205

In [3]:
# I check the AOV value
total = data['order_amount'].sum()
AOV = total / data['order_id'].count()
AOV

3145.128

In [4]:
# By summarising order_amount group by shop_id, we can see that shops with shop_id = 42 and shop_id=78 
# have huge value in order_amount
data.groupby(['shop_id'])['order_amount'].sum().sort_values(ascending=False)

shop_id
42     11990176
78      2263800
89        23128
81        22656
6         22627
13        21760
59        21538
71        21320
19        20538
70        20241
84        20196
90        19758
73        19470
43        19367
29        19234
12        18693
99        18330
27        18083
65        17864
88        17776
50        17756
79        17738
24        17640
10        17612
91        17600
17        17600
11        17480
23        17472
18        17472
61        17222
35        17056
96        16830
26        16720
51        16643
66        16583
30        16524
60        16461
37        16330
15        16065
69        15851
55        15732
57        15729
45        15620
97        15552
63        15368
87        15198
33        15051
58        15042
41        14986
46        14940
49        14835
82        14691
3         14652
53        14560
86        14430
72        14240
98        14231
21        14200
40        14168
77        14040
14        14036
54        13832
9         13806
28        13776
38        13680
1         13588
80        13485
76        13485
94        13400
62        13280
4         13184
22        13140
20        13081
5         13064
52        12994
36        12740
93        12654
31        12642
95        12432
7         12208
47        12180
68        11968
34        11712
64        11704
74        11628
85        11524
25        11180
8         11088
16        11076
39        10988
83        10449
44        10224
75        10112
67        10087
48         9711
2          9588
100        8547
56         8073
32         7979
92         6840
Name: order_amount, dtype: int64

In [16]:
# If we inspect orders with shop_id = 42 and shop_id = 78, we can see abnormal huge order_amount orders
print(data.loc[((data['shop_id'] == 42) | (data['shop_id'] == 78)), :].sort_values(by='order_amount', ascending=False))

      order_id  shop_id  user_id  order_amount  total_items payment_method  \
15          16       42      607        704000         2000    credit_card
4646      4647       42      607        704000         2000    credit_card
2835      2836       42      607        704000         2000    credit_card
2297      2298       42      607        704000         2000    credit_card
2969      2970       42      607        704000         2000    credit_card
2153      2154       42      607        704000         2000    credit_card
3332      3333       42      607        704000         2000    credit_card
1602      1603       42      607        704000         2000    credit_card
1562      1563       42      607        704000         2000    credit_card
4056      4057       42      607        704000         2000    credit_card
1362      1363       42      607        704000         2000    credit_card
1104      1105       42      607        704000         2000    credit_card
1436      1437       42      607        704000         2000    credit_card
60          61       42      607        704000         2000    credit_card
520        521       42      607        704000         2000    credit_card
4868      4869       42      607        704000         2000    credit_card
4882      4883       42      607        704000         2000    credit_card
691        692       78      878        154350            6          debit
2492      2493       78      834        102900            4          debit
3403      3404       78      928         77175            3          debit
4420      4421       78      969         77175            3          debit
2690      2691       78      962         77175            3          debit
4715      4716       78      818         77175            3          debit
4192      4193       78      787         77175            3    credit_card
1259      1260       78      775         77175            3    credit_card
2564      2565       78      915         77175            3          debit
3724      3725       78      766         77175            3    credit_card
2906      2907       78      817         77175            3          debit
493        494       78      983         51450            2           cash
2512      2513       78      935         51450            2          debit
2452      2453       78      709         51450            2           cash
2495      2496       78      707         51450            2           cash
3167      3168       78      927         51450            2           cash
2821      2822       78      814         51450            2           cash
3101      3102       78      855         51450            2    credit_card
2818      2819       78      869         51450            2          debit
3705      3706       78      828         51450            2    credit_card
4412      4413       78      756         51450            2          debit
4311      4312       78      960         51450            2          debit
511        512       78      967         51450            2           cash
617        618       78      760         51450            2           cash
1529      1530       78      810         51450            2           cash
4079      4080       78      946         51450            2           cash
490        491       78      936         51450            2          debit
3780      3781       78      889         25725            1           cash
4040      4041       78      852         25725            1           cash
3151      3152       78      745         25725            1    credit_card
2773      2774       78      890         25725            1           cash
3440      3441       78      982         25725            1          debit
2922      2923       78      740         25725            1          debit
4505      4506       78      866         25725            1          debit
3085      3086       78      910         25725            1           cash
4584      4585       78      997         25725            1           cash
2548      2549       78      861         25725            1           cash
4918      4919       78      823         25725            1           cash
1384      1385       78      867         25725            1           cash
1419      1420       78      912         25725            1           cash
1452      1453       78      812         25725            1    credit_card
1204      1205       78      970         25725            1    credit_card
1193      1194       78      944         25725            1          debit
1056      1057       78      800         25725            1          debit
2270      2271       78      855         25725            1    credit_card
160        161       78      990         25725            1    credit_card
1364      1365       42      797          1760            5           cash
1471      1472       42      907          1408            4          debit
1367      1368       42      926          1408            4           cash
938        939       42      808          1056            3    credit_card
2987      2988       42      819          1056            3           cash
3513      3514       42      726          1056            3          debit
835        836       42      819           704            2           cash
4421      4422       42      736           704            2    credit_card
4326      4327       42      788           704            2          debit
4294      4295       42      859           704            2           cash
409        410       42      904           704            2    credit_card
4767      4768       42      720           704            2    credit_card
2766      2767       42      970           704            2    credit_card
2609      2610       42      868           704            2          debit
1520      1521       42      756           704            2          debit
2491      2492       42      868           704            2          debit
2273      2274       42      747           704            2          debit
1911      1912       42      739           704            2           cash
2003      2004       42      934           704            2           cash
1512      1513       42      946           352            1          debit
4231      4232       42      962           352            1           cash
1929      1930       42      770           352            1    credit_card
979        980       42      744           352            1          debit
3903      3904       42      975           352            1          debit
2018      2019       42      739           352            1          debit
2053      2054       42      951           352            1          debit
4625      4626       42      809           352            1    credit_card
834        835       42      792           352            1           cash
3651      3652       42      830           352            1    credit_card
4745      4746       42      872           352            1          debit
3697      3698       42      839           352            1          debit
308        309       42      770           352            1    credit_card
40          41       42      793           352            1    credit_card
3998      3999       42      886           352            1          debit

                  created_at
15   2017-03-07 04:00:00.000
4646 2017-03-02 04:00:00.000
2835 2017-03-28 04:00:00.000
2297 2017-03-07 04:00:00.000
2969 2017-03-28 04:00:00.000
2153 2017-03-12 04:00:00.000
3332 2017-03-24 04:00:00.000
1602 2017-03-17 04:00:00.000
1562 2017-03-19 04:00:00.000
4056 2017-03-28 04:00:00.000
1362 2017-03-15 04:00:00.000
1104 2017-03-24 04:00:00.000
1436 2017-03-11 04:00:00.000
60   2017-03-04 04:00:00.000
520  2017-03-02 04:00:00.000
4868 2017-03-22 04:00:00.000
4882 2017-03-25 04:00:00.000
691  2017-03-27 22:51:43.203
2492 2017-03-04 04:37:33.848
3403 2017-03-16 09:45:04.544
4420 2017-03-09 15:21:34.551
2690 2017-03-22 07:33:25.104
4715 2017-03-05 05:10:43.633
4192 2017-03-18 09:25:31.863
1259 2017-03-27 09:27:19.843
2564 2017-03-25 01:19:35.410
3724 2017-03-16 14:13:25.868
2906 2017-03-16 03:45:46.089
493  2017-03-16 21:39:35.400
2512 2017-03-18 18:57:13.421
2452 2017-03-27 11:04:04.363
2495 2017-03-26 04:38:52.497
3167 2017-03-12 12:23:07.516
2821 2017-03-02 17:13:25.271
3101 2017-03-21 05:10:34.147
2818 2017-03-17 06:25:50.921
3705 2017-03-14 20:43:14.502
4412 2017-03-02 04:13:38.530
4311 2017-03-01 03:02:10.223
511  2017-03-09 07:23:13.640
617  2017-03-18 11:18:41.848
1529 2017-03-29 07:12:01.466
4079 2017-03-20 21:13:59.919
490  2017-03-26 17:08:18.911
3780 2017-03-11 21:14:49.542
4040 2017-03-02 14:31:11.566
3151 2017-03-18 13:13:07.198
2773 2017-03-26 10:36:43.445
3440 2017-03-19 19:02:53.732
2922 2017-03-12 20:10:58.008
4505 2017-03-22 22:06:00.804
3085 2017-03-26 01:59:26.748
4584 2017-03-25 21:48:43.570
2548 2017-03-17 19:35:59.663
4918 2017-03-15 13:26:46.262
1384 2017-03-17 16:38:06.279
1419 2017-03-30 12:23:42.551
1452 2017-03-17 18:09:54.089
1204 2017-03-17 22:32:21.438
1193 2017-03-16 16:38:25.551
1056 2017-03-15 10:16:44.830
2270 2017-03-14 23:58:21.635
160  2017-03-12 05:56:56.834
1364 2017-03-10 06:28:21.039
1471 2017-03-12 23:00:21.521
1367 2017-03-13 02:38:33.953
938  2017-03-13 23:43:45.330
2987 2017-03-03 09:09:25.327
3513 2017-03-24 17:51:04.520
835  2017-03-09 14:15:15.136
4421 2017-03-01 12:19:49.175
4326 2017-03-16 23:37:56.791
4294 2017-03-24 20:50:39.607
409  2017-03-04 14:32:57.621
4767 2017-03-14 10:26:08.027
2766 2017-03-05 10:45:41.577
2609 2017-03-23 18:10:13.529
1520 2017-03-22 13:10:31.448
2491 2017-03-01 18:33:33.377
2273 2017-03-27 20:48:19.095
1911 2017-03-07 05:42:52.154
2003 2017-03-26 09:21:25.916
1512 2017-03-24 13:35:04.115
4231 2017-03-04 00:01:19.133
1929 2017-03-17 08:11:13.184
979  2017-03-12 13:09:03.570
3903 2017-03-12 01:28:30.852
2018 2017-03-01 12:42:25.759
2053 2017-03-19 11:49:12.071
4625 2017-03-11 08:21:26.204
834  2017-03-25 21:31:24.596
3651 2017-03-24 22:26:57.542
4745 2017-03-24 00:57:24.130
3697 2017-03-12 02:45:08.932
308  2017-03-11 18:14:38.774
40   2017-03-24 14:15:40.649
3998 2017-03-09 20:10:40.505

In [19]:
# Calculate one pair sneakers price for each shop
df2 = data.groupby(['shop_id'])['order_amount', 'total_items'].sum()
df2['sneaker_price'] = df2['order_amount'] / df2['total_items']
print(df2.sort_values(by='sneaker_price', ascending=False))

         order_amount  total_items  sneaker_price
shop_id
78            2263800           88        25725.0
42           11990176        34063          352.0
12              18693           93          201.0
89              23128          118          196.0
99              18330           94          195.0
50              17756           92          193.0
38              13680           72          190.0
51              16643           89          187.0
6               22627          121          187.0
11              17480           95          184.0
79              17738           98          181.0
43              19367          107          181.0
90              19758          111          178.0
59              21538          121          178.0
60              16461           93          177.0
82              14691           83          177.0
81              22656          128          177.0
17              17600          100          176.0
88              17776          101          176.0
26              16720           95          176.0
70              20241          117          173.0
33              15051           87          173.0
85              11524           67          172.0
55              15732           92          171.0
27              18083          107          169.0
95              12432           74          168.0
46              14940           90          166.0
73              19470          118          165.0
28              13776           84          164.0
71              21320          130          164.0
35              17056          104          164.0
29              19234          118          163.0
19              20538          126          163.0
97              15552           96          162.0
66              16583          103          161.0
40              14168           88          161.0
62              13280           83          160.0
72              14240           89          160.0
91              17600          110          160.0
13              21760          136          160.0
61              17222          109          158.0
1               13588           86          158.0
16              11076           71          156.0
18              17472          112          156.0
77              14040           90          156.0
23              17472          112          156.0
76              13485           87          155.0
65              17864          116          154.0
30              16524          108          153.0
84              20196          132          153.0
15              16065          105          153.0
74              11628           76          153.0
96              16830          110          153.0
87              15198          102          149.0
10              17612          119          148.0
3               14652           99          148.0
57              15729          107          147.0
22              13140           90          146.0
52              12994           89          146.0
47              12180           84          145.0
80              13485           93          145.0
44              10224           71          144.0
37              16330          115          142.0
45              15620          110          142.0
5               13064           92          142.0
21              14200          100          142.0
24              17640          126          140.0
58              15042          109          138.0
63              15368          113          136.0
68              11968           88          136.0
94              13400          100          134.0
39              10988           82          134.0
54              13832          104          133.0
98              14231          107          133.0
64              11704           88          133.0
8               11088           84          132.0
69              15851          121          131.0
67              10087           77          131.0
86              14430          111          130.0
36              12740           98          130.0
25              11180           86          130.0
49              14835          115          129.0
31              12642           98          129.0
83              10449           81          129.0
4               13184          103          128.0
75              10112           79          128.0
20              13081          103          127.0
34              11712           96          122.0
41              14986          127          118.0
9               13806          117          118.0
56               8073           69          117.0
48               9711           83          117.0
14              14036          121          116.0
93              12654          111          114.0
7               12208          109          112.0
53              14560          130          112.0
100              8547           77          111.0
32               7979           79          101.0
2                9588          102           94.0
92               6840           76           90.0
      order_id  shop_id  user_id  order_amount  total_items payment_method  \
0            1       53      746           224            2           cash
1            2       92      925            90            1           cash
2            3       44      861           144            1           cash
3            4       18      935           156            1    credit_card
4            5       18      883           156            1    credit_card
...        ...      ...      ...           ...          ...            ...
4995      4996       73      993           330            2          debit
4996      4997       48      789           234            2           cash
4997      4998       56      867           351            3           cash
4998      4999       60      825           354            2    credit_card
4999      5000       44      734           288            2          debit

                  created_at
0    2017-03-13 12:36:56.190
1    2017-03-03 17:38:51.999
2    2017-03-14 04:23:55.595
3    2017-03-26 12:43:36.649
4    2017-03-01 04:35:10.773
...                      ...
4995 2017-03-30 13:47:16.597
4996 2017-03-16 20:36:16.389
4997 2017-03-19 05:42:42.228
4998 2017-03-16 14:51:18.188
4999 2017-03-18 15:48:18.205

[4937 rows x 7 columns]
AOV: 302.58051448247926

<ipython-input-19-9654189ea371>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2 = data.groupby(['shop_id'])['order_amount', 'total_items'].sum()

In [20]:
new_data = data.loc[(data['total_items'] < 10) & (data['order_amount'] / data['total_items'] < 400), :]
print(new_data)

AOV_new = new_data['order_amount'].sum() / new_data['order_id'].count()
print('AOV: ' + str(AOV_new))

      order_id  shop_id  user_id  order_amount  total_items payment_method  \
0            1       53      746           224            2           cash
1            2       92      925            90            1           cash
2            3       44      861           144            1           cash
3            4       18      935           156            1    credit_card
4            5       18      883           156            1    credit_card
...        ...      ...      ...           ...          ...            ...
4995      4996       73      993           330            2          debit
4996      4997       48      789           234            2           cash
4997      4998       56      867           351            3           cash
4998      4999       60      825           354            2    credit_card
4999      5000       44      734           288            2          debit

                  created_at
0    2017-03-13 12:36:56.190
1    2017-03-03 17:38:51.999
2    2017-03-14 04:23:55.595
3    2017-03-26 12:43:36.649
4    2017-03-01 04:35:10.773
...                      ...
4995 2017-03-30 13:47:16.597
4996 2017-03-16 20:36:16.389
4997 2017-03-19 05:42:42.228
4998 2017-03-16 14:51:18.188
4999 2017-03-18 15:48:18.205

[4937 rows x 7 columns]
AOV: 302.58051448247926